@import url("./variables/fonts.css");
@import url("./variables/colors.css");
@import url("./variables/null.css");
@import url("./variables/transition.css");

@import url("./sections/header.css");
@import url("./sections/university-info.css");
@import url("./sections/developers-info.css");

/* Базовые стили шрифта с использованием переменных */
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-white);
  background-color: var(--color-exodus-fruit);
}
