:root {
  --color-exodus-fruit: #6172DE;
  --color-galactic-highway: #400CBA;
  --color-ice-effect: #BEF0FF;
  --color-white: #FFFFFF;
  --color-shy-moment: #ABAFFC;
  --color-flowey-yellow: #FDFA54;
  --color-aphrodisiac: #E05B5E;
  --color-brazilianite: #26D061;
  --color-persian-indigo: #2C097E;
  --color-petit-four: #80BDCF;
  --color-pool-water: #2483FF;
}
